.center {
    text-align: center;
}

.title {
    padding-top: 15px;
    padding-bottom: 30px;
}

.underline {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}

.padding {
    padding-bottom: 10px;
}

.margin {
    margin-bottom: 30px;
}

.delivery-padding {
     padding-top: 25px;
}

.delivery-padding {
   padding-left: 30px;
}

.inline {
    display: inline;
}

.city label {
    padding-right: 22px;
}

.street label {
    padding-right: 8px;
}

.street, .city, .county {
    padding-bottom: 20px;
}

.uppercase {
    text-transform: uppercase;
}

.hide {
    display: none;
}

.bold {
    font-weight: bold;
}

body {
    background-color: rgb(132, 201, 28);
}

header {
    background-color: black;
    color: rgb(201, 206, 194);
}

.pizza-size, .crust, .order-summary {
    color: black;
}

.toppings {
    background-color: black;
    color: rgb(201, 206, 194);
}

.delivery {
    background-color: black;
    color: rgb(201, 206, 194);
}

.checkout-summary {
    color: black;
}

.spacing {
    padding: 10px;
}